
.pop{
    text-align: center;
    opacity: 0.7;
}

.shop{
    border: 5px solid rgb(177, 214, 177);
    border-radius: 10px;       
    padding: 5px;
    padding-bottom: 0px;
    width:100%;
    height:100%;
}