.header{
    margin-top: 10px;
    border-radius: 10px;
    justify-content: space-around;
}

.bl-form{
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-radius: 10px;

    .bl-form-input{
        margin-top: 15px;
        border-radius: 10px;
    }

    .bl-form-label{
        min-width: 100px;
    }
}